<!-- <p>home works!</p> -->

<div class="header">


    <h1>Expense Tracker App</h1>






</div>

<div class="search">



    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search Your Expenses" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
      </div>







</div>




<div class="container">


    <button class="menu" (click)="gotoadd('add')">Add Expense</button>

    <button class="menu" onclick="">Add Categorie</button>

    <button class="menu" onclick="">Edit Expense</button>

    <button class="menu" onclick="">Delete Expense</button>

    <button class="menu" (click)="gotoview('view')">View All Expenses</button>





    








</div>



